.wrap {
  padding: 30px;
  background-color: #ffff;
}

.inputWrap {
  text-transform: uppercase;
  float: left;
  padding: 0 50px;
  color: #afafaf;
  font-family: "FuturaDemi";
  font-size: 14px;
  /* margin-top: 30px; */
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.inputWrap input {
  border: 0;
}

.mainButtons {
  display: flex;
  height: 70px;
  width: 400px;
  margin: auto;
}

.regButton {
  cursor: pointer;
  border: 1px solid #33adef;
  width: 200px;
  background: #ffff;
  height: 55px;
  font-weight: 700;
  margin-right: 10px;
}

.regButton p {
  font-family: "FuturaDemi";
  color: rgb(10, 8, 8);
  text-transform: uppercase;
  font-size: 16px;
}

.inputWrap input {
  height: 50px;
  font-size: 20px;
  background: #faf7f7;
}

.inputWrap h3 {
  width: 500px;
  display: flex;
  text-align: right;
}

.authorizationButton {
  cursor: pointer;
  border: 1px solid #33adef;
  border-radius: 10px;
  width: 200px;
  height: 55px;
  font-weight: normal;
  padding: auto;
  background: #33adef;
  margin: 50px 0 0 50px;
}

.authorizationButton p {
  font-family: "FuturaDemi";
  color: #ffff;
  text-transform: uppercase;
  font-size: 16px;
}

.errorMessage {
  background-color: #dea7a7;
  width: 650px;
  height: 55px;
  float: right;
  margin: 50px 70px 0 20px;
  border-radius: 10px;
}

/*
.recoveryButton {
  margin-bottom: 50px;
}

.eyeImage {
  width: 30px;
  position: absolute;
  margin: -5px 0 0 500px;
  padding: 5px;
  border-radius: 0 5px 5px 0;
}

.eyeImage:hover {
  cursor: pointer;
  background: #dadada;
} */
